<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ResultatApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39FA81C71D3AF130007A656A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39FA81DE1D3AF131007A656A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39FA81E91D3AF131007A656A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
