<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Coolness.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FemTreKampApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>394B1CB31DE3F14700E8773E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>394B1CCA1DE3F14700E8773E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>394B1CD51DE3F14700E8773E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39D975621DE4BEF50072B35B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39D9756B1DE4BEF50072B35B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
